
/* модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  z-index: 100;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal-wrapper {
transform: translate(-50%, -50%) scale(0.9);
}

.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

@media screen and (max-width: 1199px) {
  .modal-wrapper {
    max-width: 450px;
    max-height: 600px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal-wrapper {
    width: 528px;
    height: 581px;
  }
}

.modal-wrapper__button {
  position: absolute;
  top: 8px;
  right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: var(--white-color);
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: tomato;
}

/* ховер и фокус при наведении на крестик */
/* 
.modal-wrapper__icon:hover,
.modal-wrapper__icon:focus {
  fill: var(--accent-color);
} */

@media screen and (max-width: 1199px) {
  .modal-form {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    width: 528px;
  }
}

.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.50;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
}

@media screen and (min-width: 480px) {
  .modal-title {
    margin-right: 40px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  width: 400px;
  margin: auto;
  padding: 15px;
}

.person-photo__img {
  border-radius: 50%;

}




